<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= restroom.image %>" alt="">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= restroom.title %>
                    </h5>
                    <p class="card-text">
                        <%= restroom.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= restroom.location %>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-6">
            <h2 class="mb-3">Leave a Review</h2>

            <form action="/restrooms/<%= restroom._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="range">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="range">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>


            <% for(let review of restroom.reviews) { %>
                <div class="mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rating: <%= review.rating %>
                        </h5>
                        <p class="card-text">
                            Review: <%= review.body %>

                        </p>
                    </div>

                </div>
                <%} %>
        </div>
    </div>